.slider {
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}
    

.slide-track {
    display: flex;
   
    animation: slide 18s linear infinite;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    max-height: 500px;
}

@keyframes slide {
    0%, 20% {
        transform: translateX(0);
    }
    25%, 45% {
        transform: translateX(-100%);
    }
    50%, 70% {
        transform: translateX(-200%);
    }
    75%, 95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}