.slider {
    width: 90%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

.slide-track {
    display: flex;
    width: calc(5 * 100%);
    animation: slide 18s linear infinite;
}

.slide {
    flex: 0 0 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

@keyframes slide {
    0%, 20% {
        transform: translateX(0);
    }
    25%, 45% {
        transform: translateX(-100%);
    }
    50%, 70% {
        transform: translateX(-200%);
    }
    75%, 95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}
