.navbar {
    background-color: rgb(233, 47, 47);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    height:26px;
    margin-left: 10px;
    border-radius:10px;
}

.search-box {
    padding-bottom:6px;
    padding-top:8px;
    padding-left: 10px;
    margin-left: 100px;
    border-style: none;
    border-radius: 20px;
    box-shadow:inset 1px 2px 2px rgba(0, 0, 0, 0.13)
    

}


.right-section {
    margin-right: 70px;
}