.todo-container {
    display: grid;
    justify-content: center;
}

.taskInput-class {
    padding: 8px 10px;
    border-radius: 15px;

}
.add-task-button {
    padding: 7px 10px;
    margin-left: 10px;
    background-color: rgb(233, 47, 47);
    color:white;
    border-style: none;
    border-radius:10px;
}